
@font-face {
  font-family: 'DINOT';
  src: url('DINOT.eot?#iefix') format('embedded-opentype'),  url('DINOT.otf')  format('opentype'),
	     url('DINOT.woff') format('woff'), url('DINOT.ttf')  format('truetype'), url('DINOT.svg#DINOT') format('svg');
  font-weight: normal;
  font-style: normal;
}
