@media(max-width 1680px)
  .block-main-heading--home
    min-width: 75%
  .block-main-text--home
    min-width: 65%

@media(max-width 1440px)
  .header-nav-list
    margin-right: 10px
  .header
    margin-bottom: 130px
  .block-main-heading--home
    font-size: rem(80px)
  .block-service-types
    padding: 0 10% 100px

@media(max-width 1280px)
  .header-nav-list
    margin-right: 0px
  .block-main-heading--home
    min-width: 95%
  .block-service-types
    padding: 0 5% 100px

@media(max-width 1170px)
  .header-nav-list
    margin-right: 0px
  .header
    padding: 40px 20px 0
  .nav-link-header
    font-size: rem(20px)
  .logo-img
    max-width: 80%

@media(max-width 1023px)
  .header-nav-list
    display: none
