@media(max-width 1680px)
  .block-main-heading--home
    min-width: 75%
  .block-main-text--home
    min-width: 65%
  .block-service-types
    padding: 0 12% 100px
@media(max-width 1440px)
  .header-nav-list
    margin-right: 10px
  .header
    margin-bottom: 130px
  .block-main-heading--home
    font-size: rem(80px)
  .block-service-types
    padding: 0 10% 100px

@media(max-width 1280px)
  .header-nav-list
    margin-right: 0px
  .block-main-heading--home
    min-width: 95%
  .block-service-types
    padding: 0 5% 100px

@media(max-width 1170px)
  .header-nav-list
    margin-right: 0px
  .header
    padding: 40px 20px 0
  .nav-link-header
    font-size: rem(20px)
  .logo-img
    max-width: 80%

@media(max-width 1023px)
  .header-nav-list
    display: none

@media(max-width 768px)
  .block--main-home
    min-height: 75vh
    height: 100%
  .header
    margin-bottom: 90px
  .block-main-content
    margin-left: 50px
  .block-main-heading--home
    font-size: 4rem
  .block-main-text--home
    min-width: 85%
  .block-service-types
    padding: 0 0 20px
  .block-service-types-heading
    margin-top: 50px
  .service-types-content
    padding: 30px 0
  .testimonial-tab-content-home
    flex-flow: wrap-reverse
  .testimonial-tab-link-home
    height: 115px
  .testimonial-tab-link-home--active
    display: flex
  .testimonial-arrow
    padding: 5px
  .testimonial-carousel-controls-home
    left: 85%
  .testimonial-content-home
    padding: 100px 20px
    width: 100%
    &:after
      top: 15%
      left: 5%
  .testimonial-text-home
    padding-right: 0
    font-size: rem(18px)
  .testimonial-username-home
    Text-Style-42()
  .testimonial-office-home
    Text-Style-43()
  .testimonial-video-home-container
    width: 100%
  .video-controls-home
    width: 75px
    height: 75px
  .video-play-icon
    width: 15px
    height: 15px
  .block-clarity
    padding: 80px 0
  .clarity-content
    padding: 0
    flex-flow: wrap
  .clarity-image
    margin-right: 0
    width: 100%
    margin-bottom: 50px
  .clarity-img
    max-width: 100%
  .block-clarity-heading
    Text-Style-46()
  .block-clarity-description
    Text-Style-6()
    width: 100%
  .btn-large--solutions
    font-size: rem(28px)
    padding: 5px 25px
  .block-find-career
    height: 60vh
    &:before
      width: 55%
  .find-career-content
    width: 50%
    margin-left: 25px
  .find-career-heading
    width: 100%
    font-size: rem(48px)
  .find-career-description
    width: 100%
    font-size: 1rem
  .btn-large--find-career
    font-size: rem(28px)
    padding: 5px 45px
  footer
    padding: 0
  .footer-logo
    width: 60%
    margin-bottom: 30px
  .footer-contact-block
    margin-right: 30px
    margin-bottom: 30px
  .footer-contact-block-container
    margin-top: 0px
  .footer-contact-title
    Text-Style-21()
  .footer-contact-info
    Text-Style-6()
  .left-footer-content
    width: 100%
    padding: 75px 30px
  .right-footer-content
    width: 100%
    flex-direction: column
    text-align: center
    padding: 90px 0
  .footer-link-block
    margin-right: 0
  .footer-link-block-name
    font-size: rem(24px)
  .footer-block-link
    display: none
  .bottom-footer-content
    flex-direction: column-reverse
    padding: 40px 0
    width: 100%
  .follow
    margin-bottom: 10px
    Text-Style-3()
  .footer-socials
    padding: 0
    flex-direction: column
    margin-bottom: 25px
  .copyrights
    text-align: center
  .copyrights-text-link
    display: none
  .copyrights-text
    padding: 0 5px
    Text-Style-43()

@media(max-width 680px)
  .header
    margin-bottom: 40px
  .btn-large--discover
    font-size: rem(28px)
    padding: 10px 20px
.block-service-types-heading
  font-size: rem(48px)
@media(max-width 520px)
  .testimonial-content-home
    padding: 75px 20px
  .single-service-type-container, .single-service-type--front, .single-service-type--back
    width: 205px

@media(max-width 480px)
  .block--main-home
    min-height: 70vh
  .block-main-content
    margin-left: 30px
  .block-main-heading--home
    Text-Style-46()
    min-width: 80%
    margin-bottom: 25px
    width: 100%
  .block-main-text--home
    display: none
  .btn-large--discover
    margin-top: 0
    padding: 8px 16px
    font-size: rem(24px)
  .block-service-types-heading
    font-size: rem(36px)
    text-align: center
    line-height: 1.17
    margin-bottom: 15px
    padding: 0 5%
  .block-service-types
    padding: 0 0 110px
  .block-service-types-description
    width: 100%
  .service-type-icon
    width: 70px
    height: 70px
  .service-types-content--home
    width: 100%
    padding: 0
  .single-service-type-container-home
    width: 50%
    height: 200px
  .single-service-type-home--front
    width: 100%
  .testimonial-tab-content-home
    flex-flow: wrap-reverse
  .testimonial-tab-link-home
    display: none
    height: 115px
  .testimonial-tab-link-home--active
    display: flex
  .testimonial-arrow
    padding: 5px
  .testimonial-carousel-controls-home
    left: 70%
  .testimonial-content-home
    padding: 100px 20px
    width: 100%
    &:after
      top: 15%
      left: 5%
  .testimonial-text-home
    padding-right: 0
    font-size: rem(18px)
  .testimonial-username-home
    Text-Style-42()
  .testimonial-office-home
    Text-Style-43()
  .testimonial-video-home-container
    width: 100%
  .video-controls-home
    width: 45px
    height: 45px
  .video-play-icon
    width: 10px
    height: 10px
  .block-clarity
    padding: 80px 0
  .clarity-content
    padding: 0
    flex-flow: wrap
  .clarity-image
    margin-right: 0
    width: 100%
    margin-bottom: 50px
  .clarity-img
    max-width: 100%
  .block-clarity-heading
    Text-Style-46()
  .block-clarity-description
    Text-Style-6()
    width: 100%
  .btn-large--solutions
    font-size: rem(28px)
    padding: 5px 25px
  .block-find-career
    display: none



//Mobile 320px
@media(max-width 320px)
  .block--main-home
    min-height: 100vh
  .block-main-content
    margin-left: 0px
    align-items: center
  .block-main-heading--home
    Text-Style-46()
    width: 75%
    margin-bottom: 25px
  .block-main-text--home
    display: none
  .btn-large--discover
    margin-top: 0
    padding: 8px 16px
    font-size: rem(24px)
  .block-service-types-heading
    font-size: rem(36px)
    text-align: center
    line-height: 1.17
    margin-bottom: 15px
    padding: 0 5%
  .block-service-types
    padding: 0 0 110px
  .block-service-types-description
    width: 100%
  .service-types-content--home
    width: 100%
    padding: 0
  .single-service-type-container-home
    width: 50%
    height: 200px
  .single-service-type-home--front
    width: 100%
  .testimonial-tab-content-home
    flex-flow: wrap-reverse
    &:after
      top: 32%
      left: 10%
  .testimonial-tab-link-home
    display: none
    height: 115px
  .testimonial-tab-link-home--active
    display: flex
  .testimonial-arrow
    padding: 5px
  .testimonial-carousel-controls-home
    left: 70%
  .testimonial-content-home
    padding: 100px 20px
    width: 100%
  .testimonial-text-home
    padding-right: 0
    font-size: rem(18px)
  .testimonial-username-home
    Text-Style-42()
  .testimonial-office-home
    Text-Style-43()
  .testimonial-video-home-container
    width: 100%
  .video-controls-home
    width: 45px
    height: 45px
  .video-play-icon
    width: 10px
    height: 10px
  .block-clarity
    padding: 80px 0
  .clarity-content
    padding: 0
  .clarity-image
    margin-right: 0
    width: 100%
    margin-bottom: 50px
  .clarity-img
    max-width: 100%
  .block-clarity-heading
    Text-Style-46()
  .block-clarity-description
    Text-Style-6()
    width: 100%
  .btn-large--solutions
    font-size: rem(28px)
    padding: 5px 25px
  .block-find-career
    display: none
