footer.footer
  .footer-container
    .left-footer-content
      .footer-logo
        img.footer-logo-img(src="static/img/general/footer-logo.png")
      .footer-contact-block-container
        .footer-contact-block
          span.footer-contact-title Headquarters
          span.footer-contact-info 4030 W. Braker Lane
          span.footer-contact-info Building 4, Suite 450
          span.footer-contact-info Austin, TX 78759
      .footer-contact-block-container
        .footer-contact-block
          span.footer-contact-title main
          span.footer-contact-info 844.205.7173
          span.footer-contact-info info@sparkcognition.com
        .footer-contact-block
          span.footer-contact-title support
          span.footer-contact-info 512.956.5576
          span.footer-contact-info support@sparkcognition.com
    .right-footer-content 
      .footer-link-block
        h3.footer-link-block-name Solutions
        ul.footer-link-block-content
          li.footer-block-list
            a(href="/").footer-block-link SparkPredict
          li.footer-block-list
            a(href="/").footer-block-link DeepArmor
          li.footer-block-list
            a(href="/").footer-block-link DeepNLP
      .footer-link-block
        h3.footer-link-block-name Industries
        ul.footer-link-block-content
          li.footer-block-list
            a(href="/").footer-block-link Oil & Gas
          li.footer-block-list
            a(href="/").footer-block-link Utilities
          li.footer-block-list
            a(href="/").footer-block-link Manufacturing
          li.footer-block-list
            a(href="/").footer-block-link Defense
          li.footer-block-list
            a(href="/").footer-block-link Aerospace
          li.footer-block-list
            a(href="/").footer-block-link Maritime
          li.footer-block-list
            a(href="/").footer-block-link Financial Services
          li.footer-block-list
            a(href="/").footer-block-link Cybersecurity
      .footer-link-block
        h3.footer-link-block-name Company
        ul.footer-link-block-content
          li.footer-block-list
            a(href="/").footer-block-link Team
          li.footer-block-list
            a(href="/").footer-block-link Partnerships
          li.footer-block-list
            a(href="/").footer-block-link News
      .footer-link-block
        h3.footer-link-block-name Resources
        ul.footer-link-block-content
          li.footer-block-list
            a(href="/").footer-block-link White Papers
          li.footer-block-list
            a(href="/").footer-block-link Webinars
          li.footer-block-list
            a(href="/").footer-block-link Videos
          li.footer-block-list
            a(href="/").footer-block-link Events
  .bottom-footer-content
    .copyrights
      span.copyrights-text © 2018 SparkCognition. All Rights Reserved.    
      a(href="/").copyrights-text.copyrights-text-link  Priavcy Policy  
      a(href="/").copyrights-text.copyrights-text-link  Legal 
      a(href="/").copyrights-text.copyrights-text-link  Patents
    .footer-socials
      span.follow follow us
      .footer-social-link
        a(href="/")
          +icon('in','footer-social-icon')
      .footer-social-link
        a(href="/")
          +icon('twitter','footer-social-icon')
      .footer-social-link
        a(href="/")
          +icon('fb','footer-social-icon')
      .footer-social-link
        a(href="/")
          +icon('yotube','footer-social-icon')
