header.header
  .logo
    a(href="/")
      img.logo-img(src="./static/img/general/logo.png")
  navigation.nav.header-nav
    li.nav-list.header-nav-list
      a.nav-link.nav-link-header(href="/") Solutions
    li.nav-list.header-nav-list
      a.nav-link.nav-link-header(href="/") Industries
    li.nav-list.header-nav-list
      a.nav-link.nav-link-header(href="/") Company
    li.nav-list.header-nav-list
      a.nav-link.nav-link-header(href="/") Careers
    li.nav-list.header-nav-list
      a.nav-link.nav-link-header(href="/") Resourses
    li.nav-list.header-nav-list
      a.nav-link.nav-link-header(href="/") Contact Us
