extends ../layout/main

block variables
	- var title = 'Main Page'
	- var pageClass = 'index-page'

block content
	.block.block--main
		include ../modules/header	
		.block-main-content
			h2.block-main-heading One Approach,unlimited application
			p.block-main-text Using our patented approach to developing models we’re able to provide solutions across multiple industries. Our algorithms are data agnostic, which provides a scalable approach to solving many of the world’s toughest problems.
	.block.block-service-types
			.service-types-content
				.single-service-type-container
					.single-service-type
							.single-service-type--front
								a.service-type-link(href="/")
									+icon('oil-and-gas','service-type-icon')
								span.service-type-name oil & gas
							.single-service-type--back
								p.single-service-type--back-text AI paired with IoT enables manufacturing to become smarter, with improvements to processes for research and development, procurement, and assembly line.
								button.btn.btn-learn-more Learn More
				.single-service-type-container
					.single-service-type
							.single-service-type--front
								a.service-type-link(href="/")
									+icon('power-line','service-type-icon')
								span.service-type-name UTILITIES
							.single-service-type--back
								p.single-service-type--back-text AI paired with IoT enables manufacturing to become smarter, with improvements to processes for research and development, procurement, and assembly line.
								button.btn.btn-learn-more Learn More
				.single-service-type-container
					.single-service-type
							.single-service-type--front
								a.service-type-link(href="/")
									+icon('manufact','service-type-icon')
								span.service-type-name manufacturing
							.single-service-type--back
								p.single-service-type--back-text AI paired with IoT enables manufacturing to become smarter, with improvements to processes for research and development, procurement, and assembly line.
								button.btn.btn-learn-more Learn More
				.single-service-type-container
					.single-service-type
							.single-service-type--front
								a.service-type-link(href="/")
									+icon('defense','service-type-icon')
								span.service-type-name DEFENSE
							.single-service-type--back
								p.single-service-type--back-text AI paired with IoT enables manufacturing to become smarter, with improvements to processes for research and development, procurement, and assembly line.
								button.btn.btn-learn-more Learn More
				.single-service-type-container
					.single-service-type
							.single-service-type--front
								a.service-type-link(href="/")
									+icon('aviation','service-type-icon')
								span.service-type-name AVIATION
							.single-service-type--back
								p.single-service-type--back-text AI paired with IoT enables manufacturing to become smarter, with improvements to processes for research and development, procurement, and assembly line.
								button.btn.btn-learn-more Learn More
				.single-service-type-container
					.single-service-type
							.single-service-type--front
								a.service-type-link(href="/")
									+icon('ship','service-type-icon')
								span.service-type-name MAritime
							.single-service-type--back
								p.single-service-type--back-text AI paired with IoT enables manufacturing to become smarter, with improvements to processes for research and development, procurement, and assembly line.
								button.btn.btn-learn-more Learn More
				.single-service-type-container
					.single-service-type
							.single-service-type--front
								a.service-type-link(href="/")
									+icon('financial','service-type-icon')
								span.service-type-name FINANCIAL SERVICES
							.single-service-type--back
								p.single-service-type--back-text AI paired with IoT enables manufacturing to become smarter, with improvements to processes for research and development, procurement, and assembly line.
								button.btn.btn-learn-more Learn More
				.single-service-type-container
					.single-service-type
							.single-service-type--front
								a.service-type-link(href="/")
									+icon('cyber','service-type-icon')
								span.service-type-name CYBERSECURITY
							.single-service-type--back
								p.single-service-type--back-text AI paired with IoT enables manufacturing to become smarter, with improvements to processes for research and development, procurement, and assembly line.
								button.btn.btn-learn-more Learn More
	.block.block-testimonials
		.testimonials-carousel
				.testimonial
					.testimonial-content
						p.testimonial-text "Security continues to be a burning need for customers, and continued breaches and hacks reiterate the inefficacy of current market offerings. SparkCognition's demonstrated cognitive security platform brings a game changing narrative to the equation in this fast moving and emerging field.”
						span.testimonial-username Vijay Doradla
						span.testimonial-office Director at Verizon Ventures
				.testimonial
					.testimonial-content
						p.testimonial-text "Security continues to be a burning need for customers, and continued breaches and hacks reiterate the inefficacy of current market offerings. SparkCognition's demonstrated cognitive security platform brings a game changing narrative to the equation in this fast moving and emerging field.”
						span.testimonial-username Vijay Doradla
						span.testimonial-office Director at Verizon Ventures-
				.testimonial
					.testimonial-content
						p.testimonial-text "Security continues to be a burning need for customers, and continued breaches and hacks reiterate the inefficacy of current market offerings. SparkCognition's demonstrated cognitive security platform brings a game changing narrative to the equation in this fast moving and emerging field.”
						span.testimonial-username Vijay Doradla
						span.testimonial-office Director at Verizon Ventures-
		.testimonial-carousel-controls
			.testimonial-arrow.testimonial-arrow-left
				+icon('chevron-left','testimonial-arrow-icon')
			.testimonial-arrow.testimonial-arrow-right
				+icon('chevron-right','testimonial-arrow-icon')


								
								
