@font-face {
  font-family: 'DINOT';
  src: url('../fonts/DINOT.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINOT-Cond';
  src: url('../fonts/DINOT-Cond.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINOT-Cond.otf')  format('opentype'),
	     url('../fonts/DINOT-Cond.woff') format('woff'), url('../fonts/DINOT-Cond.ttf')  format('truetype'), url('../fonts/DINOT-Cond.svg#DINOT-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}
