// ЦВЕТА
light-navy = #1a667a
marigold = #ffc000
white = #ffffff
brownish-grey = #656565
greyish-brown = #414141
pinkish-grey = #c4c4c4
white-two = #f8f8f8
white-three = #f1f1f1
white-four = #e6e6e6
black = #000000
// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
mainFont = 'DINOT-Cond'
mainDinotFont = 'DINOT'
