// Colors
light-navy = #1a667a
marigold =  #ffc000
white = #ffffff
brownish-grey = #656565
greyish-brown = #414141
pinkish-grey = #c4c4c4
white-two = #f8f8f8
white-three = #f1f1f1
white-four = #e6e6e6
greyish-brown-two = #535353
white-five = #f6f6f6
bluish = #288ca6
greyish = #b8b8b8
black = #343434
brownish-grey-two = #6e6e6e
greyish-two = #ababab
dusk-blue = #246b7e
dusk-blue = #246b7e
black-two = #3b3b3b
greyish-brown-three = #444444
warm-grey = #727272


// Sizes
baseFontSize = 16px


// Fonts
mainFont = 'DINOT-Cond'
mainDinotFont = 'DINOT'
